//! **************************************************************************
// Written by: Map P.20131013 on Wed May 25 00:18:57 2022
//! **************************************************************************

SCHEMATIC START;
COMP "B1" LOCATE = SITE "P66" LEVEL 1;
COMP "B2" LOCATE = SITE "P5" LEVEL 1;
SCHEMATIC END;

